



//Color Style

$tbd_blue:#00CEFF;
$tbd_gray:#76777A;
$tbd_gray_light:#C1C1C1;
$tbd_white:#ffffff;
$tbd_dark:#111111;

$tbd_body_color:#c1c1c1; 


//Font Family

$heading_font:'Work Sans', sans-serif;

$body_font:  'Poppins', sans-serif;



